p.code
{
	border-width: 1px;
	border-spacing: 2px;
	border-style: solid;
	border-color: black;
	border-collapse: separate;
	background-color: #C0C0C0;
}

font.cpp
{
    color: #0000FF
}

font.keyword
{
    color: #0000FF
}

font.number
{
    color: #D00000
}

font.string
{
    color: #D00000
}

font.comment
{
    color: #00A000
}

font.command
{
    color: #ce5c00
}

